{% set title = "Admin Login" %}
{% set curPage = "AdminLogin" %}
{% extends "base.html" %}

{% block content %}

<main>
  
  <div class="container">
    <div class="d-flex flex-column gap-3 justify-content-center align-items-center" style="height: 80vh;">
      <h5 class="text-center text-success">Admin Login</h5>
      <div class="card" style="width: 28rem;">      
        <div class="card-body bg-light">
          <h6 class="text-danger text-center">{{error_msg}}</h6>
          <form action="/admin/login/" method="post" id="login">
            <div class="mb-3">
              <label for="user_name" class="form-label">User name</label>
              <input type="text" class="form-control" name="user_name" id="user_name" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" name="password" id="password" required>
            </div>
            <button class="btn btn-secondary w-100">Login</button>
  
          </form>
        </div>
      </div>
    </div>
  </div>

</main>

{% endblock %}