{% set title = "Change Password" %}
{% set curPage = "ChangePassword" %}
{% extends "base.html" %}

{% block content %}

<main>
  <div class="container-fluid my-4">
    <h5 class="text-center border my-2 bg-white p-2">{{title}}</h5>

    <div class="border bg-white p-4">
      <form action="{{request.uri}}" method="post" id="changePassword" class="w-50 border p-3">
        <div class="mb-3">
          <label for="password" class="form-label required">Password</label>
          <input type="password" class="form-control form-control-sm" name="password" id="password" required>
        </div>
        <div class="mb-3">
          <label for="confirm_password" class="form-label required">Confirm Password</label>
          <input type="password" class="form-control form-control-sm" name="confirm_password" id="confirm_password" required>
        </div>
        <button type="submit" class="btn btn-theme-primary">Change Password</button>
      </form>      

    </div>

  </div>
</main>

{% endblock %}