{% set title = "Directions" %}
{% set curPage = "Directions" %}
{% extends "base.html" %}

{% block content %}

<main>
  <div class="container-fluid my-4">
    <h5 class="text-center">{{title}} for {{recipe['recipe_title']}}</h5>
    <div class="border bg-white p-4">
      <a href="/ingredients/?recipe_id={{recipe['_id']}}" class="btn btn-sm btn-primary mb-3">Ingredients</a>
      <a href="/nutritions/?recipe_id={{recipe['_id']}}" class="btn btn-sm btn-primary mb-3">Nutrition</a>
      <a href="/my-recipes/" class="btn btn-sm btn-warning mb-3">Back to recipes</a>
      <div class="row g-4">
        <div class="col-sm-4">
          <form action="/directions/" method="post" class="border p-3">
            <div class="mb-3">
              <label for="step" class="form-label required">Step</label>
              <input type="number" min="1" name="step" id="step" class="form-control" value="{{direction['step']}}" required autofocus>
            </div>

            <div class="mb-3">
              <label for="instruction" class="form-label required">Instruction</label>
              <textarea name="instruction" id="instruction" cols="30" rows="5" class="form-control">{{direction['instruction']}}</textarea>
            </div>

            <div class="mb-3">
              <input type="hidden" name="recipe_id" value="{{recipe['_id']}}">
              <input type="hidden" name="direction_id" value="{{direction['id']}}">
              <button type="submit" class="btn btn-success w-100">Save</button>
            </div>            

            {% if direction %}
            <div class="mb-3">
              <a href="/directions/?recipe_id={{recipe['_id']}}" class="btn btn-warning  w-100">Cancel</a>
            </div>
            {% endif %}

          </form>
        </div>

        <div class="col-sm-8">
          <div class="table-responsive">
            <table class="table table-bordered" id="table">
              <thead> 
                <tr>
                  <th>#</th>
                  <th>Step</th>
                  <th>Instruction</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for item in recipe['directions'] %}
                <tr>
                  <td>{{loop.index}}</td>
                  <td>{{item['step']}}</td>
                  <td>{{item['instruction']}}</td>
                  <td>
                    <a href="/directions/?direction_id={{item['id']}}&recipe_id={{recipe['_id']}}" class="btn btn-sm btn-primary">Edit</a>
                    <a href="/direction/delete/?direction_id={{item['id']}}&recipe_id={{recipe['_id']}}" class="btn btn-sm btn-danger">Delete</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}